<div class='container'>
  <h1 class='text-capitalize text-center'> about</h1>
  <p class='text-justify'>This is a Node/Express app for jotting down ideas for future Youtube videos</p>
  <h6 class='text-justify text-right'>Version 1.0.0</h6>
</div>

