<div class='jumbotron text-center my-4'>
  <!--
  <h1 class='display-3'>{{ title }}</h1>
  -->
  <p class='lead'>Write down ideas for your next youtube videos</p>
  <a href='/ideas/add' class='btn btn-dark btn-lg text-capitalize'>add video idea</a>
</div>
