{{#each errors}}
  <div class='alert alert-danger mt-2 mb-0'>{{ text }}</div>
{{/each}}
<div class='card card-body my-5'>
  <h3 class='text-capitalize'>videos idea</h3>
  <form action='/ideas' method='post'>
    <div class='form-group'>
      <label for='titleForm' class='text-capitalize'>title</label>
      <input type='text' class='form-control' name='titleForm' required>
    </div>
    <div class='form-group'>
      <label for='detailsForm' class='text-capitalize'>details</label>
      <textarea class='form-control' name='detailsForm' required></textarea>
    </div>
    <button type='submit' class='btn btn-primary text-capitalize'>submit</button>
  </form>
</div>
