<div class='card card-body my-5'>
  <h3 class='text-capitalize'>Videos Idea</h3>
  <form action='/ideas' method='post'>
    <div class='form-group'>
      <label for='titleForm' class='text-capitalize'>title</label>
      <input type='text' class='form-control' name='title'>
    </div>
    <div class='form-group'>
      <label for='detailForm' class='text-capitalize'>details</label>
      <textarea class='form-control' name='details'></textarea>
    </div>
    <button type='submit' class='btn btn-primary text-capitalize'>submit</button>
  </form>
</div>
