<div class='card card-body my-5'>
  <h3 class='text-capitalize'>edit videos idea</h3>
  <form action='/ideas/{{idea.id}}?_method=PUT' method='post'>
    <input type='hidden' name='_method' value='PUT'>
    <div class='form-group'>
      <label for='titleForm' class='text-capitalize'>title</label>
      <input type='text' class='form-control' name='titleForm' value={{idea.titleForm}}>
    </div>
    <div class='form-group'>
      <label for='detailsForm' class='text-capitalize'>details</label>
      <textarea class='form-control' name='detailsForm'>{{idea.detailsForm}}</textarea>
    </div>
    <button type='submit' class='btn btn-primary text-capitalize'>submit</button>
  </form>
</div>
