{{#each ideas}}

  <div class='card card-body mt-5'>
    <h4 class='text-info'>{{ titleForm }}</h4>
    <p class='text-body'>{{ detailsForm }}</p>
  </div>

{{else}}
  <p>No video ideas listed</p>
{{/each}}
